<style>
#container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.header-section{
  background-color: blue;
  height: 200px;
  width: 100%;
}


.logo div{
  background-color: yellow;
  height: 100px;
}

#logo {
  height:200px;
  width: 20%;
  background-color: red;
  min-width: 300px;
  flex-grow: 1;

}
#navbar {
  display: flex;
  flex-grow: 2;
  min-width: 200px;
  width: 20%;
  justify-content: flex-end;
  align-items: center;
}

#navbar div{
  background-color: black;
  width: 100px;
  height: 50px;
  margin: 5px;
}

.content1 {
  width: 100%;
}

.content1 div {
  background-color: orange;
  width: 100%;
  height: 200px;
}

.content2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.content2 div {
  background-color: green;
  height: 100px;
}


#content2-left {
  flex-grow: 1;
  min-width: 200px;
}

#content2-middle {
  flex-grow: 2;
  background-color: purple;
  min-width: 200px;
}

#content2-right {
  flex-grow: 1;
  background-color: blue;
  min-width: 200px;
}

footer {
  width: 100%
}

footer div {
  background-color: grey;
  height: 200px;
}
</style>
